div {
    border: 0px;
    height: 80px
}



.redBox {
    background-color: #FF0000;
}

.blueBox {
    background-color: blue;
}

.blackBox {
    background-color: black;
}

.tBox {
    background-color: #00ccff;
}

.tanBox {
    background-color: #ffcc99
}
